
.conatiner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h2{
    border: 2px solid rgb(41, 39, 39);
    padding: 12px 12px;
    border-radius: 14px;
    background-color: rgb(37, 35, 35);
    color: white;
}
button{
    padding: 12px 12px;
    border-radius: 20px;
    background: yellow;
    transition: 0.4s;
    border: none;
}
button:hover{
    background: yellowgreen;
    cursor: pointer;
}